
# This file specifies patterns to exclude from the extension package

.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**

eslint.config.js
GitVersion.yml
.github/**
tsconfig.json
package-lock.json
vscode.config.mjs
out/test/**
**/*.map
test/**
# Keep out/ and resources/ and package.json
# Keep node_modules (vsce handles automatic exclusion of devDependencies)
