name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v2.0.0
      with:
        versionSpec: '6.0.x'
    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v2.0.0
    - name: Display Version
      run: echo "Calculated version is ${{ env.GitVersion_SemVer }}"
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
    - run: npm ci
    - run: npm run compile
    - name: Run Tests
      if: runner.os == 'Linux'
      run: xvfb-run -a npm test
    - name: Run Tests (Windows/Mac)
      if: runner.os != 'Linux'
      run: npm test
