name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        registry-url: 'https://registry.npmjs.org'

    - run: npm ci
    - run: npm run compile

    # Publishing to VS Code Marketplace
    - name: Publish to VS Code Marketplace
      run: npx @vscode/vsce publish -p ${{ secrets.VSCE_PAT }}
