name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v2.0.0
      with:
        versionSpec: '6.0.x'
    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v2.0.0
    - name: Update package.json version
      run: |
        npm version ${{ env.GitVersion_SemVer }} --no-git-tag-version
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        registry-url: 'https://registry.npmjs.org'

    - run: npm ci
    - run: npm run compile

    # Publishing to VS Code Marketplace
    - name: Publish to VS Code Marketplace
      run: npx @vscode/vsce publish -p ${{ secrets.VSCE_PAT }}
